* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 13rem;
}

body {
    background-color: #edebe8;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #373131;
    letter-spacing: .1rem;
    display: flex;
    flex-direction: column;
}

/* Navbar */


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: #dcc295;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: rgba(116, 116, 116, 0.35) 0rem -.2rem .6rem 0rem inset, rgba(50, 50, 93, 0.25) 0px 5.0rem 10.0rem -2.0rem, rgba(0, 0, 0, 0.3) 0rem 3.0rem 6.0rem -3.0rem;

}
.mblheader{
    display: none;
}
#left {
    font-size: 30px;
    font-weight: 800;
    color: #373131;
}

#right #links {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}

#right #links a {
    text-decoration: none;
    font-size: 19px;
    font-weight: 400;
    color: #373131;
}

hr {
    background-color: #373131;
    height: 2px;
}




/* About section */
span {
    color: #dcc295;
    font-weight: 600;

}

.about {

    margin: 120px 0 70px 0;
    display: flex;
    justify-content: space-around;
}

.about .leftAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about p {
    font-size: 26px;
}

.about img {
    width: 60%;
    height: auto;

}

.about .rightAbout h2 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: -20px;
}

#element {
    font-size: 70px;
    color: #373131;
    font-weight: 700;
}


.btn {
    padding: 1.1rem 1.8rem;
    background-color: #dcc295;
    color: #373131;
    border: 1px solid #373131;
    border-radius: .8rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5.0rem 10.0rem -2.0rem, rgba(0, 0, 0, 0.3) 0rem 3.0rem 6.0rem -3.0rem, rgba(10, 37, 64, 0.35) 0rem -.2rem .6rem 0rem inset;

}

.about .rightAbout .btn:hover {
    background-color: #373131;
    color: #edebe8;
    border: 1px solid #636a7E;
    cursor: pointer;

}

/* About me */
h1 {
    font-size: 2.6rem;
    margin: 3rem 0rem;
    text-align: center;
}

span1 {
    background-color: #dcc295;
    padding: 1px 10px;
}

.aboutMe {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.aboutMe .rightAboutMe {
    width: 50%;

}

.aboutMe .rightAboutMe p {
    font-size: 26px;
    padding: 10PX 0PX;

}

.aboutMe .leftAboutMe iframe {
    width: 350.25px;
    height: 622.5px;

}

/* Proof */

.proof {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-bottom: 30px;
}

.proof iframe {
    width: 350.25px;
    height: 622.5px;
}

/* UGC Videos */

.UGC {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-bottom: 30px;
}

.UGC iframe {
    width: 350.25px;
    height: 622.5px;
}


/* service*/
hr1 {
    background-color: #373131;
    height: .5px;
    margin: 60px 200px 0px 200px;
}

.service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

.offers p {
    font-size: 40px;
    font-weight: 800;
}

.process p {
    font-size: 26px;
    font-weight: 800;
}

.box1 {
    display: flex;
    flex-direction: column;

    align-items: center;
}


/* Package */

.package {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 60px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #dcc295;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    border-radius: 24px;
    text-align: center;
    height: 19rem;
    padding: 30px 10px;
    width: 35rem;
    font-size: 30px;
    font-weight: 800;
    gap: 10px;
}

.box p {
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
}

/* footer */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #373131;
    color: #edebe8;

}

.details {
    display: flex;
    align-items: center;
    gap: 50px;
}

.details h1 {
    font-size: 95px;
    font-weight: 800;
    line-height: 0.8624973em;
}

.leftFooter h2 {
    font-size: 28px;
    font-weight: 800;
    line-height: 0.8624973em;
}

.details p {
    font-size: 26px;
}

.details a {
    color: #edebe8;
    font-size: 20px;
}

.SM {
    display: flex;
    flex-direction: column;
}

.rightFooter {
    display: flex;
    justify-content: center;
}

.rightFooter img {
    width: 50%;

}

/* Responsive */


@media screen and (min-width: 1025px) and (max-width: 1400px) {

    #left {
        font-size: 24px;
    }

    #right #links {
        gap: 20px;

    }

    #right #links a {

        font-size: 18px;

    }

    /* about */


    .about p {
        font-size: 19px;
        font-weight: 600;
    }

    .about img {
        width: 50%;
        height: auto;

    }

    .about .rightAbout h2 {
        font-size: 60px;
        margin-bottom: -25px;
    }

    #element {
        font-size: 57px;
    }


    .btn {
        padding: 0.9rem 1rem;
        font-size: 1.2rem;
    }

    /* About me */
    .aboutMe {
        gap: 4rem;
        margin-bottom: 40px;
    }

    .aboutMe .rightAboutMe {
        width: 50%;
        text-align: justify;

    }

    .aboutMe .rightAboutMe p {
        font-size: 20px;
        padding: 10PX 0PX;

    }

    .aboutMe .leftAboutMe iframe {
        width: 350.25px;
        height: 622.5px;

    }

    /* services offered */




    .offers p {
        font-size: 33px;
    }

    .process p {
        font-size: 20px;

    }



    /* Package */
    hr1 {
        margin: 60px 00px 0px 00px;
    }

    .package {
        gap: 30px;
    }

    .box {
        height: 19rem;
        width: 28rem;
        font-size: 25px;
        gap: 8px;
    }

    .box p {
        font-size: 18px;
    }

    /* Footer */
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .details {

        gap: 40px;
    }

    .details h1 {
        font-size: 75px;
    }

    .leftFooter h2 {
        font-size: 20px;
    }

    .details p {
        font-size: 20px;
    }

    .details a {
        color: #edebe8;
        font-size: 18px;
    }

    .rightFooter {
        width: 35%;
    }

}

@media screen and (min-width: 913px) and (max-width: 1024px) {


    #left {
        font-size: 20px;
    }

    #right #links {
        gap: 20px;
    }

    #right #links a {
        text-decoration: none;
        font-size: 16px;

    }

    /* About section */

    .about p {
        font-size: 22px;
        font-weight: 600;
    }



    .about .rightAbout h2 {
        font-size: 60px;

    }

    #element {
        font-size: 55px;

    }


    .btn {
        padding: 1rem 1.2rem;
        font-size: 1.3rem;

    }


    /* About me */
    h1 {
        font-size: 2.5rem;

    }

    .aboutMe {
        margin-bottom: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .aboutMe .rightAboutMe {
        width: 50%;

    }

    .aboutMe .rightAboutMe p {
        font-size: 19px;
        text-align: justify;


    }


    /* service*/
    hr1 {
        margin: 60px 00px 0px 00px;
    }

    .offers p {
        font-size: 30px;

    }

    .process p {
        font-size: 20px;

    }



    /* Package */

    .package {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-bottom: 60px;
    }

    .box {
        height: 17rem;
        width: 25rem;
        font-size: 25px;
        gap: 10px;
    }

    .box p {
        font-size: 18px;

    }

    /* Footer */
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .leftFooter {
        margin-top: -30px;
    }

    .details {

        gap: 40px;
    }

    .details h1 {
        font-size: 65px;
    }

    .leftFooter h2 {

        font-size: 18px;
    }

    .details p {
        font-size: 16px;
    }

    .details a {
        color: #edebe8;
        font-size: 14px;
    }

    .rightFooter {
        width: 35%;
    }

}

@media screen and (min-width: 821px) and (max-width: 912px) {

    #left {
        font-size: 19px;
    }

    #right #links {
        gap: 15px;
    }

    #right #links a {
        text-decoration: none;
        font-size: 16px;

    }

    /* About section */

    .about p {
        font-size: 20px;
        font-weight: 600;
    }



    .about .rightAbout h2 {
        font-size: 55px;

    }

    #element {
        font-size: 50px;

    }


    .btn {
        padding: 0.8rem 1.1rem;
        font-size: 1.2rem;

    }


    /* About me */
    h1 {
        font-size: 2.3rem;

    }

    .aboutMe {
        margin-bottom: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .aboutMe .rightAboutMe {
        width: 50%;

    }

    .aboutMe .rightAboutMe p {
        font-size: 18px;
        text-align: justify;


    }


    /* service*/
    hr1 {
        margin: 60px 00px 0px 00px;
    }

    .offers p {
        font-size: 26px;

    }

    .process p {
        font-size: 18px;

    }



    /* Package */

    .package {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-bottom: 60px;
    }

    .box {
        height: 16rem;
        width: 23rem;
        font-size: 23px;
        gap: 10px;
    }

    .box p {
        font-size: 17px;

    }

    /* Footer */
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .leftFooter {
        margin-top: -30px;
    }

    .details {

        gap: 40px;
    }

    .details h1 {
        font-size: 60px;
    }

    .leftFooter h2 {

        font-size: 16px;
    }

    .details p {
        font-size: 14px;
    }

    .details a {
        color: #edebe8;
        font-size: 13px;
    }

    .rightFooter {
        width: 35%;
    }

}




/* mobile header */

@media screen and (max-width: 820px) {
    html {

        scroll-padding-top: 6rem;

    }
    


    nav {
        display: none;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    .container {
        max-width: 820px;
        
    }

    .grid {
        display: grid;
        gap: 1.5rem;
    }

    .mblheader {
        display: grid;
        width: 100%;
        position: fixed;
        overflow: hidden;
        top: auto;
        bottom: 0;
        left: 0;
        z-index: 100;
        background-color: #18181c;
        box-shadow: rgba(116, 116, 116, 0.35) 0rem -.2rem .6rem 0rem inset, rgba(50, 50, 93, 0.25) 0px 5.0rem 10.0rem -2.0rem, rgba(0, 0, 0, 0.3) 0rem 3.0rem 6.0rem -3.0rem;
    }

    .nav {
        max-width: 820px;
        height: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .mblheader #left{
        font-size: 24px;
    }



    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: #dcc295;
        padding: 2rem 1.5rem 4rem;
        box-shadow: rgba(116, 116, 116, 0.35) 0rem -.2rem .6rem 0rem inset, rgba(50, 50, 93, 0.25) 0px 5.0rem 10.0rem -2.0rem, rgba(0, 0, 0, 0.3) 0rem 3.0rem 6.0rem -3.0rem;
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.3s;
    }

    .nav__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 18px;
        
        font-weight: 600;
        color: #373131;


    }

    .nav__link:hover {
        color: #edebe8;
    }

    .nav__icon {
        font-size: 1.2rem;
    }

    .nav__icon {
        font-size: 1.2rem;
    }

    .nav__close {
        position: absolute;
        right: 1.3rem;
        bottom: 0.5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: #373131;
    }

    .nav__close:hover {
        color: #edebe8;
    }

    /* Show Menu */
    .show-menu {
        bottom: 0;
    }



}




@media screen and (min-width: 541px) and (max-width: 820px) {

    /* About section */

    .about {


        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .about .leftAbout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about p {
        font-size: 26px;
        padding: 0 55px;
    }

    .about img {
        width: 45%;
        height: auto;

    }

    .about .rightAbout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about .rightAbout h2 {
        font-size: 65px;

    }


    .btn {
        padding: 1.3rem 1.9rem;
        font-size: 1.8rem;

    }

    .about .rightAbout .btn:hover {
        background-color: #373131;
        color: #edebe8;
        border: 1px solid #636a7E;
        cursor: pointer;

    }

    #element {
        font-size: 60px;

    }


    #left {
        font-size: 19px;
    }

    #right #links {
        gap: 15px;
    }

    #right #links a {
        text-decoration: none;
        font-size: 16px;

    }



    /* About me */
    h1 {
        font-size: 2.7rem;

    }

    .aboutMe {
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .aboutMe .rightAboutMe {
        width: 85%;

    }

    .aboutMe .rightAboutMe p {
        font-size: 26px;
        text-align: justify;


    }

    .aboutMe .leftAboutMe iframe {
        width: 233.5px;
        height: 415px;

    }

    iframe {
        width: 233.5px;
        height: 415px;

    }


    /* service*/
    hr1 {
        margin: 60px 00px 0px 00px;
    }

    .offers p {
        font-size: 26px;

    }

    .process p {
        font-size: 18px;

    }



    /* Package */

    .package {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-bottom: 60px;
    }

    .box {
        height: 16rem;
        width: 23rem;
        font-size: 23px;
        gap: 10px;
    }

    .box p {
        font-size: 17px;

    }

    /* Footer */
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .details h1 {
        font-size: 60px;
        font-weight: 800;
        line-height: 0.8624973em;
    }

    .leftFooter h2 {
        font-size: 18px;
        font-weight: 800;
        line-height: 0.8624973em;
        margin-bottom: 20px;
        text-align: center;
    }

    .details p {
        font-size: 16px;
    }

    .details a {
        color: #edebe8;
        font-size: 14px;
    }

    .SM {
        display: flex;
        flex-direction: column;
    }

    .rightFooter {
        display: flex;
        justify-content: center;
    }

    .rightFooter img {
        display: none;

    }
}

@media screen and (min-width: 370px) and (max-width: 540px) {
    /* About section */

    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .about .leftAbout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about p {
        font-size: 26px;
        text-align: center;
        padding: 0 55px;
    }

    .about img {
        width: 70%;
        height: auto;

    }

    .about .rightAbout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about .rightAbout h2 {
        font-size: 54px;

    }


    .btn {
        padding: 1.2rem 1.5rem;
        font-size: 1.7rem;

    }

    .about .rightAbout .btn:hover {
        background-color: #373131;
        color: #edebe8;
        border: 1px solid #636a7E;
        cursor: pointer;

    }

    #element {
        font-size: 50px;

    }


    #left {
        font-size: 19px;
    }

    #right #links {
        gap: 15px;
    }

    #right #links a {
        text-decoration: none;
        font-size: 16px;

    }



    /* About me */
    h1 {
        font-size: 2rem;

    }

    .aboutMe {
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .aboutMe .rightAboutMe {
        width: 85%;

    }

    .aboutMe .rightAboutMe p {
        font-size: 20px;
        text-align: justify;


    }

    .aboutMe .leftAboutMe iframe {
        width: 233.5px;
        height: 415px;

    }

    .proof iframe {
        width: 233.5px;
        height: 415px;

    }
    .UGC iframe {
        width: 233.5px;
        height: 415px;

    }


    /* service*/
    hr1 {
        margin: 60px 00px 0px 00px;
    }

    .offers p {
        font-size: 40px;

    }

    .process p {
        font-size: 18px;
        text-align: center;
        font-weight: 400;
    }



    /* Package */

    .package {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-bottom: 60px;
    }

    .box {
        height: 16rem;
        width: 20rem;
        font-size: 23px;
        gap: 10px;
    }

    .box p {
        font-size: 16px;

    }

    /* Footer */
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .details h1 {
        font-size: 50px;
        font-weight: 800;
        line-height: 0.8624973em;
    }

    .leftFooter h2 {
        font-size: 14px;
        font-weight: 800;
        line-height: 0.8624973em;
        margin-bottom: 20px;
        text-align: center;
    }

    .details p {
        font-size: 14px;
    }

    .details a {
        color: #edebe8;
        font-size: 12px;
    }

    .SM {
        display: flex;
        flex-direction: column;
    }

    .rightFooter {
        display: flex;
        justify-content: center;
    }

    .rightFooter img {
        display: none;

    }
}

@media screen and (min-width: 280px) and (max-width: 369px) {
    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .about .leftAbout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about p {
        font-size: 20px;
        text-align: center;
        padding: 0 20px;
    }

    .about img {
        width: 70%;
        height: auto;

    }

    .about .rightAbout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about .rightAbout h2 {
        font-size: 42px;
        padding-bottom: 10px;

    }


    .btn {
        padding: 1rem 1rem;
        font-size: 1.2rem;

    }

    .about .rightAbout .btn:hover {
        background-color: #373131;
        color: #edebe8;
        border: 1px solid #636a7E;
        cursor: pointer;

    }

    #element {
        font-size: 40px;

    }


    #left {
        font-size: 19px;
    }

    #right #links {
        gap: 15px;
    }

    #right #links a {
        text-decoration: none;
        font-size: 16px;

    }



    /* About me */
    h1 {
        font-size: 1.7rem;

    }

    .aboutMe {
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .aboutMe .rightAboutMe {
        width: 85%;

    }

    .aboutMe .rightAboutMe p {
        font-size: 20px;
        text-align: justify;


    }

    .aboutMe .leftAboutMe iframe {
        width: 233.5px;
        height: 415px;

    }

    .proof iframe {
        width: 233.5px;
        height: 415px;

    }
    .UGC iframe {
        width: 233.5px;
        height: 415px;

    }


    /* service*/
    hr1 {
        margin: 60px 00px 0px 00px;
    }

    .offers p {
        font-size: 30px;

    }

    .process p {
        font-size: 16px;
        text-align: center;
        font-weight: 400;
    }



    /* Package */

    .package {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-bottom: 60px;
    }

    .box {
        height: 14rem;
        width: 18rem;
        font-size: 20px;
        gap: 10px;
    }

    .box p {
        font-size: 14px;

    }

    /* Footer */
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .details h1 {
        font-size: 45px;
        font-weight: 800;
        line-height: 0.8624973em;
    }

    .leftFooter h2 {
        font-size: 12px;
        font-weight: 800;
        line-height: 0.8624973em;
        margin-bottom: 20px;
        text-align: center;
    }

    .details p {
        font-size: 12px;
    }

    .details a {
        color: #edebe8;
        font-size: 10px;
    }

    .SM {
        display: flex;
        flex-direction: column;
    }

    .rightFooter {
        display: flex;
        justify-content: center;
    }

    .rightFooter img {
        display: none;

    }
}